@font-face {
  font-family: Nunito;
  src:
    url('fonts/Nunito-Regular.ttf')  format('truetype');
}

html, body {
  font-family: Nunito;
  font-size: 16px;
  background: #232323;
  color: #fff;  
  padding: 0;
  margin: 0;
}

#game > .overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#game > canvas {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

p.score {
  font-weight: 300;
}

#score {
  font-weight: 900;
  color: #00c832;
}

.footer {
  font-size: 16px;
  text-align: right;
}
.footer a {
  font-size: 14px;
  color: #00c832;
  text-decoration: none;
}
